<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"  lang="en" th:charset="UTF-8">
<meta charset="UTF-8">
<head th:replace="fragments::header">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="fragments::sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments::topbar"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div th:if="${failed}" class="alert alert-danger text-center">
                    <p th:text="${failed}"></p>
                </div>
                <!-- Page Heading -->
                <!--                    <h1 class="h3 mb-4 text-gray-800">Buttons</h1>-->
                <form th:action="@{/save-product}" method="post"  enctype="multipart/form-data" class="form-horizontal" th:object="${product}">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>ADD PRODUCT</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                            <div class="col-md-4">
                                <input th:field="*{name}" id="product_name" name="product_name" class="form-control input-md" required=""
                                       type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION</label>
                            <div class="col-md-4">
                                <textarea th:field="*{description}" id="description" name="description" class="form-control input-md" required=""
                                          type="text"></textarea>

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="categories">PRODUCT CATEGORY</label>
                            <div class="col-md-4">
                                <select id="categories" th:field="*{category}" name="categories" class="form-control" required="Thể loại">
                                    <option th:value="null">Thể loại</option>
                                    <option th:each="category :${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}"></option>
                                </select>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">QUANTITY</label>
                            <div class="col-md-4">
                                <input th:field="*{currentQuantity}" id="available_quantity" name="available_quantity" class="form-control input-md"
                                    type="number" >

                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="price">PRICE</label>
                            <div class="col-md-4">
                                <input th:field="*{costPrice}" id="price" name="price" value="1"
                                       class="form-control input-md"  type="number">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="sale">SALE</label>
                            <div class="col-md-4">
                                <input th:field="*{salePrice}" id="sale" name="sale" value="0"
                                       class="form-control input-md"  type="number">

                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="imageProduct">IMAGE</label>
                                    <div class="col-md-4">
                                        <input id="imageProduct" name="imageProduct" class="input-file" type="file">
                                    </div>
                                </div>
                                <div id="image-container"></div>
                            </div>
                        </div>
                    </fieldset>

                    <button type="submit" class="btn btn-primary">ADD</button>
                </form>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments::footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments::scroll"></a>
<!-- Logout Modal-->
<div th:replace="fragments::logoutModal"></div>
<div th:replace="fragments::script"></div>

</body>

</html>