<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: header">

</head>


<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="fragments::sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="fragments::topbar"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="content container-fluid">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col-sm mb-2 mb-sm-0">
                            <h2 th:text="${session.isAdmin==true?'Xin chào ADMIN':'Xin chào SHIPPER MANAGER'}" class="text-center page-header-title"></h2>
                        </div>
                    </div>
                </div>

                <div  class="row gx-2 gx-lg-3">
                    <div th:if="${session.isAdmin}" class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                        <a class="card card-hover-shadow h-100"  th:href="@{/categories}" href="./employee.html">
                            <div class="card-body">
                                <h6 class="card-subtitle text-center">Thể loại</h6>
                                <div th:text="${numberOfCategories}" class="card-title h2 text-center"></div>
                            </div>
                        </a>
                    </div>

                    <div th:if="${session.isAdmin}" class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                        <a class="card card-hover-shadow h-100" th:href="@{/products}" href="./customer.html">
                            <div class="card-body">
                                <h6 class="card-subtitle text-center">Sản phẩm</h6>
                                <div class="card-title h2 text-center">[[${numberOfProducts}]]</div>
                            </div>
                        </a>
                    </div>

                    <div th:if="${session.isAdmin}" class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                        <a class="card card-hover-shadow h-100" th:href="@{/users}" href="./product.html">
                            <div class="card-body">
                                <h6 class="card-subtitle text-center">Khách hàng</h6>
                                <div class="card-title h2 text-center">[[${numberOfCustomers}]]</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
                        <a class="card card-hover-shadow h-100" th:href="@{/orders}" href="./order.html">
                            <div class="card-body">
                                <h6 class="card-subtitle text-center">Đơn hàng</h6>
                                <div class="card-title h2 text-center">[[${numberOfOrders+1}]]</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
      <footer th:replace="fragments::footer"></footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="fragments::scroll"></a>
<!-- Logout Modal-->
<div th:replace="fragments::logoutModal"></div>
<div th:replace = "fragments::script"></div>>

</body>

</html>